# start package requirements
pyyaml>=5.1.1
coolname>=1.1.0
tabulate>=0.8.3
tensorboardX>=1.4

numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
