# NB Do not install from this requirements file
# It is for documentation purposes only

sphinx
sphinx_rtd_theme
tqdm
psutil
numexpr
numpy
opencv-python
pillow
scikit-learn
fastcluster
matplotlib
imageio
imageio-ffmpeg
ffmpy
nvidia-ml-py
plaidml
tensorflow
tensorflow_probability
typing-extensions
keras>=2.13.1rc0 # not directly required, pinned by Snyk to avoid a vulnerability
