[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/cub"]
	path = 3rdparty/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCmSoftwarePlatform/composable_kernel.git
	branch = develop
  
[submodule "gitignore"]
	path = gitignore
	url = https://github.com/toptal/gitignore.git
	
[submodule "ConfigurationViews/StaticDataTableViewController"]
	path = Platform/iOS/Legacy/StaticDataTableViewController
	url = https://github.com/peterpaulis/StaticDataTableViewController.git
[submodule "Platform/Shared/HTerm/libapps"]
	path = Platform/Shared/HTerm/libapps
	url = https://chromium.googlesource.com/apps/libapps
	
[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass.git
[submodule "3rdparty/cub"]
	path = 3rdparty/cub
	url = https://github.com/NVIDIA/cub.git
[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/ROCmSoftwarePlatform/composable_kernel.git
	branch = develop

[submodule "src/utils"]
	path = src/utils
	url = git@github.com:mlspec/mlspeclib-action-utils.git
	
	[submodule "mlspeclib-action-samples-schemas"]
	path = mlspeclib-action-samples-schemas
	url = git@github.com:mlspec/mlspeclib-action-samples-schemas
[submodule "utils"]
	path = utils
	url = https://github.com/mlspec/mlspeclib-action-utils.git
	
	[submodule "helpers"]
	path = helpers
	url = https://github.com/actions/versions-package-tools
	branch = main
	
	[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/onnx"]
	path = thirdparty/onnx
	url = https://github.com/onnx/onnx.git
[submodule "thirdparty/fp16"]
	path = thirdparty/fp16
	url = https://github.com/Maratyszcza/FP16.git
[submodule "tests/OutputCheck"]
	path = tests/OutputCheck
	url = https://github.com/stp/OutputCheck.git
[submodule "thirdparty/foxi"]
	path = thirdparty/foxi
	url = https://github.com/houseroad/foxi.git
[submodule "googlebenchmark"]
	path = tests/googlebenchmark
	url = https://github.com/google/benchmark
[submodule "thirdparty/pybind11"]
	path = thirdparty/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "thirdparty/folly"]
	path = thirdparty/folly
	url = https://github.com/facebook/folly.git
	
	
