- name: action-gobrew
  uses: kevincobain2000/action-gobrew@v2

on: [push]
name: CI
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.13, 1.14, 1.15, 1.16.7, 1.17, 1.18, 1.18@latest, 1.19beta1, 1.19@dev-latest, latest, dev-latest]
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
      - uses: kevincobain2000/action-gobrew@v2
        with:
          version: ${{ matrix.go-version }}

      - name: Go
        run: go version
        
        1.16               - will install 1.13
1.16.1             - will install 1.13
1.16beta1          - will install 1.16beta1
1.16rc1            - will install 1.16rc1
1.16@latest        - will install 1.16.15, which is the latest stable on 1.16
1.16@dev-latest    - will install 1.16.15, which is the latest stable on 1.16

latest             - will install latest stable version
dev-latest         - will install latest version, include rc|beta

name: "action-gobrew"
author: "kevincobain2000"
description: "gobrew, setup go for Github Actions"
branding:
  icon: 'heart'
  color: 'green'

inputs:
  version:
    description: "go version"
    required: true
runs:
  using: "composite"
  steps:
    - name: gobrew setup
      run: |
        echo "$HOME/.gobrew/current/bin" >> $GITHUB_PATH
        echo "$HOME/.gobrew/bin"  >> $GITHUB_PATH
        echo "$HOME/go/bin"  >> $GITHUB_PATH
        curl -sLk https://git.io/gobrew | sh -
      shell: bash

    - name: gobrew use
      run: gobrew use ${{ inputs.version }}
      shell: bash
      
      
